.page-slide.d-flex.align-items-center
	.container-fluid
		.row
			.col-md-9.offset-md-2
				.page-slide-1-top
					h1.text-title-lg Your next interactive expirience
					a(href="#!").btn-main
						span Hire Us
						img(src="./build/img/arrow.svg", alt="arrow", width="18", height="14")
				.text-slide-1-bottom
					.row
						.col-md-4
							div.text-widget#tw-1
								h3.text-title-sm test text
								p.text-p Lorem ipsum dolor sit amet,strum quisquam laboriosam est sed officiis dicta vitae!
						.col-md-4
							div.text-widget#tw-2
								h3.text-title-sm test text
								p.text-p Lorem ipsum dolor sit amet,strum quisquam
						.col-md-4
							div.text-widget#tw-3
								h3.text-title-sm test text
								p.text-p Lorem ipsum dolor sit amet,strum quisquam