.page-slide.d-flex.align-items-center
	.container-fluid
		.row
			.col-md-10.offset-md-1
				h2.text-title-md Selected Works
				.js-work-slider.work-slider
					div.js-slide-1
						.work-slide
							.work-slide-img
								img(src="./build/img/item03.png")
							.work-slide-title METIEW & SMITH
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					div.js-slide-2 
						.work-slide
							.work-slide-img
								img(src="./build/img/item02.png")
							.work-slide-title ALEX NOVAK
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					div.js-slide-3 
						.work-slide
							.work-slide-img
								img(src="./build/img/item01.png")
							.work-slide-title VICTORY
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.