.page-slide.d-flex.align-items-center
	.container-fluid
		.row
			.col-md-8.offset-md-2
				.page-slide-3-top
					h1.text-title-lg We beleve in passionate people
					a(href="#!").btn-career
						span CAREER 
						img(src="./build/img/arrow.svg", alt="arrow", width="18", height="14")
				.text-slide-1-bottom
					.row
						.col-md-3
							a(href="#").about-widget-link
								div.text-widget-about
									div.about-widget#about-one
									div.text-title-about
										h3.text-title-sm winners
						.col-md-3
							a(href="#").about-widget-link
								div.text-widget-about
									div.about-widget#about-two
									div.text-title-about
										h3.text-title-sm philosophy
						.col-md-3
							a(href="#").about-widget-link
								div.text-widget-about
									div.about-widget#about-three
									div.text-title-about
										h3.text-title-sm history